<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Starter</title>
    <link rel="stylesheet" href="../../dist/static/style.css">
    <link rel="icon" href="../../dist/favicon.webp">
    <script src="../../dist/static/js/filterByContractTime.js" defer></script>
    <script src="../../dist/static/js/filterByIndustry.js" defer></script>
    <script src="../../dist/static/js/visited.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <div class="grid">

            <div class="left-column">
                <div class="filter-container" id="filter-container">
                    <div class="filter-data">
                        <div class="links">
                            <p><a href="">Terms & Conditions</a></p>
                            <p><a href="">Privacy Policy</a></p>
                            <p><a href="https://github.com/faizanA786/job-starter" target="_blank">Source Code</a></p>
                        </div>
                        <hr>
                        <h1>Job Starter</h1>
                        <div class="filter-desc">
                            <p>Explore entry level job opportunities designed for those looking to start their careers in London.</p>
                            <p>Job adverts are fetched once a day at 00:00 from numerous sources and are at most 3 days old.</p>
                        </div>
    
                        <hr>
                        <h2>Industry</h2>
                        <div class="filter">
                            <div class="filter-input">
                                <input type="checkbox" id="retail" checked>
                                <p>Retail ({{ retail|length }})</p>
                            </div>
                            <div class="filter-input">
                                <input type="checkbox" id="logistics" checked>
                                <p>Logistics ({{ logistics|length }})</p>
                            </div>
                            <div class="filter-input">
                                <input type="checkbox" id="hospitality" checked>
                                <p>Hospitality ({{ hospitality|length }})</p>
                            </div>
                        </div>
    
                        <hr>
                        <h2>Job Type</h2>
                        <div class="filter">
                            <div class="filter-input">
                                <input type="checkbox" id="full_time" checked>
                                <p>Full Time</p> 
                            </div>
                            <div class="filter-input">
                                <input type="checkbox" id="part_time" checked>
                                <p>Part Time</p>
                            </div>
                        </div>
    
                        <hr>
                        <i>Jobs by<a href="http://www.adzuna.co.uk" target="_blank"> Adzuna </a>API</i>
                    </div>
                </div>
                <div class="to-top">
                    <p><a href="#filter-container">Back to Top</a></p>
                </div>
            </div>

            <div>
                <div class="logistics" id="logistics-div">
                    {% for job in logistics %}
                    <div class="job-container {{ job['contract_time'] }}">
                        <div class="job-data">
                            <div class="job-info">
                                <p><b>{{ job["title"] }}</b></p> 
                                <p>{{ job["company"] }}</p> 
                            
                                <p><a href="{{ job['url'] }}" class="job-link" id="job-link" target="_blank">Apply Now!</a></p> 
                            </div>
                            <div class="job-info">
                                <p>Date Posted: {{ job["date"] }}</p> 
    
                                {% if job["contract_time"] is not none %} 
                                    {% if job["contract_time"] == "full_time" %}
                                        <p style="color: #2e7d32"><b>Full Time</b></p> 
                                    {% elif job["contract_time"] == "part_time" %}
                                        <p style="color: #0288d1"><b>Part Time</b></p> 
                                    {% endif %}
                                {% else %}
                                    <p style="color: #b0b00d"><b>Job Type Unspecified</b></p>
                                {% endif %}

                                <p>
                                    <a href="https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination=destination={{ job['location']|replace(' ', '+') }}&travelmode=transit class=" class="map-link" id="map-link" target="_blank">
                                        {{ job["location"] }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="retail" id="retail-div">
                    {% for job in retail %}
                    <div class="job-container {{ job['contract_time'] }}">
                        <div class="job-data">
                            <div class="job-info">
                                <p><b>{{ job["title"] }}</b></p> 
                                <p>{{ job["company"] }}</p> 
                            
                                <p><a href="{{ job['url'] }}" class="job-link" id="job-link" target="_blank">Apply Now!</a></p> 
                            </div>
                            <div class="job-info">
                                <p>Date Posted: {{ job["date"] }}</p>  
    
                                {% if job["contract_time"] is not none %} 
                                    {% if job["contract_time"] == "full_time" %}
                                        <p style="color: #2e7d32"><b>Full Time</b></p> 
                                    {% elif job["contract_time"] == "part_time" %}
                                        <p style="color: #0288d1"><b>Part Time</b></p> 
                                    {% endif %}
                                {% else %}
                                    <p  style="color: #b0b00d"><b>Job Type Unspecified</b></p>
                                {% endif %}

                                <p>
                                    <a href="https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination=destination={{ job['location']|replace(' ', '+') }}&travelmode=transit" class="map-link" id="map-link" target="_blank">
                                        {{ job["location"] }}
                                    </a>
                                </p>
                            </div>
    
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="hospitality" id="hospitality-div">
                    {% for job in hospitality %}
                    <div class="job-container {{ job['contract_time'] }}">
                        <div class="job-data">
                            <div class="job-info">
                                <p><b>{{ job["title"] }}</b></p> 
                                <p>{{ job["company"] }}</p> 
                            
                                <p><a href="{{ job['url'] }}" class="job-link" id="job-link" target="_blank">Apply Now!</a></p>
                            </div>
                            <div class="job-info">
                                <p>Date Posted: {{ job["date"] }}</p>   
                                {% if job["contract_time"] is not none %}
                                    {% if job["contract_time"] == "full_time" %}
                                        <p style="color: #2e7d32"><b>Full Time</b></p> 
                                    {% elif job["contract_time"] == "part_time" %}
                                        <p style="color: #0288d1"><b>Part Time</b></p> 
                                    {% endif %}
                                {% else %}
                                    <p  style="color: #b0b00d"><b>Job Type Unspecified</b></p>
                                {% endif %}

                                <p>
                                    <a href="https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination=destination={{ job['location']|replace(' ', '+') }}&travelmode=transit" class="map-link" id="map-link" target="_blank">
                                        {{ job["location"] }}
                                    </a>
                                </p>  
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</body>
</html>