<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Starter</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% for job in jobs %}
        <div class="container">
            <div class="data">
                <div class="info">
                    <p>{{ job["date"] }}</p> <!--Date-->
                    <p>{{ job["location"] }}</p> <!--Location-->

                    {% if job["contract_time"] is not none %} <!--Job Type-->
                        {% if job["contract_time"] == "full_time" %}
                            <p>Part Time</p> 
                        {% elif job["contract_time"] == "part_time" %}
                            <p>Full Time</p> 
                        {% endif %}
                    {% else %}
                        <p>Job Type Unknown</p>
                    {% endif %}
                </div>

                <p>{{ job["title"] }}</p> <!--Title-->
                <p>{{ job["description"] }}</p> <!--Desc-->
            
                <p>Apply here: <a href="{{ job['url'] }}">{{ job["url"] }}</a></p> <!--URL-->
            </div>
        </div>
    {% endfor %}
</body>
</html>