@font-face {
    font-family: funnel_sans;
    src: url("fonts/FunnelSans-VariableFont_wght.ttf");
}

body {
    background-image: url("images/bg.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: funnel_sans;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.links {
    margin: 0.25rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.to-top {
    text-align: center;
    background: linear-gradient(to bottom, rgba(242, 244, 248, 0.95), rgba(255, 255, 255, 0.95));
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
    p {
        margin: 0;
    }
}

.filter-data {
    background: linear-gradient(to bottom, rgba(242, 244, 248, 0.95), rgba(255, 255, 255, 0.95));
    text-align: center;
    margin: 0.5rem;
    p {
        margin: 0.5rem;
    }
}

.filter {
    text-align: left;
}

.filter-desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    margin-left: 0.5rem;
}

.filter-input {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin-left: 0.5rem;

}

.job-container {
    background: linear-gradient(to bottom, rgba(242, 244, 248, 0.95), rgba(255, 255, 255, 0.95));
    margin: 25px;
}

.job-data {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    margin: 10px;
}

.job-info {
    display: flex;
    flex-direction: column;
    p {
        margin: 0.8rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 3rem;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    width: 90%;
    min-height: 100vh;
}

p {
    font-size: 1.5vw;
}