<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Starter</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% for job in jobs %}
        <div class="jobdata">
            <p>Job posting date: {{ job[0] }}</p>
            <p>Job title: {{ job[1] }}</p>
            <p>Job desc: {{ job[2] }}</p>
            <p>Job location: {{ job[3] }}</p>
            <p>Apply here: <a href="{{ job[4] }}">{{ job[4] }}</a></p>
        </div>
    {% endfor %}
</body>
</html>